<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict/>
		<key>TSKConfiguration</key>
		<dict>
			<key>TSKSwizzleNetworkDelegates</key>
			<true />
			<key>TSKPinnedDomains</key>
			<dict>
				<key>api.example.com</key>
				<dict>
					<key>TSKIncludeSubdomains</key>
					<true />
					<key>TSKPublicKeyHashes</key>
					<array>
						<string>HXXQgxueCIU5TTLHob/bPbwcKOKw6DkfsTWYHbxbqTY=</string>
						<string>0SDf3cRToyZJaMsoS17oF72VMavLxj/N7WkTpymPxdc=</string>
					</array>
					<key>TSKExpirationDate</key>
					<string>2020-01-01</string>
				</dict>
			</dict>
		</dict>
	</dict>
</plist>
